<%provide(:title, "About")%>
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
	<h1>Sample App</h1>
	<p>
	  BEST ABOUT PAGE EVARRR
	  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
	  sample application.
	</p>
	</body>
</html>